<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Foldit:wght@700&family=Gruppo&family=Libre+Barcode+128+Text&family=Open+Sans:wght@300;500;700;800&family=Plus+Jakarta+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,200" />  
    <title>Chirp</title>
</head>
<body>
    <nav>
        <h3 id='nav-logo'><img src='/images/logo.png' width='20vmin'>Chirp</h3>
        <a class='nav-link' href='/posts'>all posts</a>
        <a class='nav-link' href='/posts/new'>add post</a>
        <a class='nav-link' href='/logout'>log out</a>
    </nav>
