<%- include('partials/header') %>


<div id='main-container'>
    <h1>About</h1>
    <h2>Chirp - Embrace Authenticity, Vent Freely!</h2>
    <div id='about-container'>
        <p> Welcome to Chirp, the refreshing antidote to the often polished and curated world of social media!
            Here, imperfection is embraced, and honesty reigns supreme. We're on a mission to create a space where 
            people can freely express their frustrations, share their grievances, and find solace in knowing that 
            they're not alone.
        </p>
        <p>
            We encourage you to be yourself on Chirp. Share those minor irritations, those inconveniences that make 
            your blood boil, and those pet peeves that drive you crazy. Connect with a community that understands the 
            cathartic power of complaining. Engage in meaningful conversations, offer support to others facing similar 
            challenges, and find comfort in the shared experiences that bind us all.
        </p>
        <p>
            At Chirp, we are dedicated to maintaining an environment that fosters genuine and vulnerable expression. 
            To ensure the integrity of our platform, we leverage <a id='tw-link' href='https://www.twinword.com/api/emotion-analysis.php'>Twinword's</a> 
            advanced Emotion Analysis API to filter out happy posts and encourages users to delve deeper into their frustrations.
        </p>
        <p>
            By excluding happy posts, we strive to create a space that focuses on the raw and often unspoken aspects of human experiences. 
            This approach allows us to encourage users to be introspective, acknowledge their frustrations, 
            and find solace in shared struggles.
        </p>
    </div>
    <a id='lm-link' href='https://github.com/hicass/chirp'>Learn More!</a>
</div>

<%- include('partials/footer') %>