<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to...</h2>
    <h1>Chirp</h1>
    <h3>come on in</h3>
    <a href='/auth/google' class='login'>LOG IN</a>
    <p>make yourself @ home</p>
  </body>
</html>
