<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Foldit:wght@700&family=Gruppo&family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1><img id='logo-img' src='/images/logo.png'>Chirp</h1>
    <div id='case'>
      <div class='post-preview'>
        <h3>recent chirps</h3>
        <% if (posts.length) { %>
          <% for (let i = 0; i < 3; i++) { %>
            <div class='user-post'>
              <div>
                <img class='user-avatar' src='<%= posts[i].userAvatar %>' alt='avatar'>
              </div>
              <div class='post-content'>
                <p class='user-name'><%= posts[i].userName %></p>
                <p class='post-text'><%= posts[i].content %></p>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
      <div id='login-case'>
        <a href='/auth/google' class='login'>LOG IN/ SIGN UP</a>
      </div>
    </div>
    <p id='accent-text'>make yourself @ home</p>
  </body>
</html>
