* {
    font-size: 16px;
}

body {
    background: linear-gradient(75deg, #0e0e0e, #1d1d1d, 
    #0a0a0a, #222222, #0a0a0a);
    background-size: 500% 500%;
    animation: gradient 30s ease infinite;
    color: white;
    margin: 0;
    overscroll-behavior: none;
    min-height: 100%;
  }

  
h1 {
    margin: 1rem 5rem;
    font-size: 4rem;
    font-family: 'Foldit', cursive;
}
    
h3 {
    margin: 0 auto;
    font-size: 2rem;
    font-family: 'Gruppo', cursive; 
    color: rgb(185, 185, 185);
}

#case {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto auto 2rem;
    width: 100%;
}

.post-preview {
    border-radius: 5px;
}

.user-post {
    min-height: 5rem;
    margin: .2rem auto;
    width: 30rem;
    min-width: 30rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 2px rgba(132, 132, 132, 0.12), 0 1px 2px rgba(71, 71, 71, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.user-post:hover{
    box-shadow: 0 .2rem 1rem rgba(123, 123, 123, 0.25);
}

.post-content {
    min-width: 80%;
}

.user-avatar {
    width: 2rem;
    padding: 0.2rem;
    border-radius: 50px;
}

.user-name {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0.3rem 1rem;
    font-weight: 500;
    font-size: .8rem;
  }

.post-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: .7rem 1.2rem;
    margin: 0;
    font-size: .7rem;
}

#login-case {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6rem;
    border-radius: 6px;
}

#login-case > a {
    color: #606060;
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
    text-decoration: none;
}

#login-case > a:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
}

#accent-text {
    margin: 8rem 3rem 0;
    display: flex;
    justify-content: flex-end;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2rem;
    color: #606060;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}