@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

body {
    background: linear-gradient(75deg, #0e0e0e, #1d1d1d, 
    #0a0a0a, #222222, #0a0a0a, #000000);
    background-size: 500% 500%;
    animation: gradient 30s ease infinite;
    color: white;
    margin: 0;
    overscroll-behavior: none;
    min-height: 100%;
  }
  
h1 {
    margin: 5rem 10rem;
    font-size: 7rem;
    font-family: 'Foldit', cursive;
}

#logo-img {
    width: 7rem;
}

#case {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10rem;
}

h3 {
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Gruppo', cursive; 
    color: rgb(185, 185, 185);
}

.user-post {
    margin: .2rem auto;
    max-width: 40rem;
    min-width: 40rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 2px rgba(132, 132, 132, 0.12), 0 1px 2px rgba(71, 71, 71, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.user-post:hover{
    box-shadow: 0 .2rem 1rem rgba(123, 123, 123, 0.25);
}

.post-content {
    min-width: 80%;
}

.user-avatar {
    width: 4rem;
    padding: 0.3rem;
    border-radius: 50px;
}

.user-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }

.post-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 1rem 1rem;
    margin: 0;
    font-size: 1rem;
}

#login-case {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#login-case > a {
    color: #606060;
    font-family: 'Gruppo', cursive;
    font-size: 3rem;
    text-decoration: none;
    border-radius: 6px;
    
}

#login-case > a:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
}

#accent-text {
    display: flex;
    justify-content: flex-end;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2.5rem;
    color: #1f1f1f;
    margin-right: 10rem;
    margin-top: 5rem;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}