body {
  background: linear-gradient(75deg, #0e0e0e, #060606, 
  #0a0a0a, #0c0c0c, #0a0a0a);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
  color: white;
  margin: 0;
  overscroll-behavior: none;
  min-height: 100%;
  overflow: hidden;
}
/* index, show, new */

#main-container {
  max-height: 35rem;
  max-width: 30rem;
  overflow-y: auto;
  margin: 0 0 0 15rem;
  padding: 0 2rem;
}
/* index, show, new */

h1 {
  font-family: 'Libre Barcode 128 Text', cursive;
  color: #bababa;
  padding: 0.2rem 1rem;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #0a0a0a4D;
  backdrop-filter: blur(10px);
  font-size: 2.3rem;
}
/* index, new */

.user-post, .user-comment {
  margin: .2rem auto;
  width: 30rem;
  min-width: 30rem;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 1px 2px rgba(132, 132, 132, 0.12), 0 1px 2px rgba(71, 71, 71, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* index, show */

.user-post:hover, .user-comment:hover {
  box-shadow: 0 .2rem 1rem rgba(123, 123, 123, 0.25);
}
/* index, show */

.post-content, .comment-content {
  min-width: 80%;
}
/* index, show*/

.user-name, .post-user-name, .comment-user-name {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0.3rem 1rem;
}
/* index, show*/

.post-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: .5rem 1.2rem;
  margin: 0 0 0.2rem 0;
  font-size: .7rem;
}
/* index, show*/

.dropdown-btn {
  color: white;
  background: 0;
  border: 0;
  z-index: 3;
  padding: 0.2rem 0 1rem;
  color: #6c6c6c;
}
/* index, show */

.edit-btn, .delete-btn {
  padding: 0 0 1rem;
  background: 0;
  border: 0;
  color: #6c6c6c;
}
/* index, show */

.dropdown {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 2rem;
}
/* index, show */

.edit-input {
  font-weight: 300;
  width: 31rem;
  height: 4rem;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
/* index, show */

.post-form {
  position: relative;
  display: flex;
  align-items: flex-start;
}
/* index, show */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}