body {
  background-color: black;
  color: white;
}

a {
  color: #6c6c6c;
}

h1 {
  font-family: 'Libre Barcode 128 Text', cursive;
  color: #6c6c6c;
}

.user-post {
  margin: 2vmin auto;
  border: 1.5px solid black;
  border-radius: 5px;
  width: 90%;
  color: black;
  background-color: white;
}

.user-post-table {
  width: 100%;
}

.user-avatar-td, .username {
  vertical-align: top;
}

.user-avatar-td {
  width: 3%;
}

.username {
  width: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 3vmin;
}

.user-content {
  font-family: 'Open Sans', sans-serif;
}

.user-avatar {
  width: 7vmin;
  border-radius: 50px;
}

.details-link {
  font-family: 'Open Sans', sans-serif;
}

.drop-down-btn {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.drop-down-td  {
  vertical-align: top;
  align-items: flex-end;
}

.dropdown-btn{
  background: 0;
  border: 0;
  padding: 0;
  z-index: 348;
}

.dropdown {
  visibility: hidden;
  position: absolute;
}

