body {
  background-color: black;
  color: white;
  margin: 0;
}

a {
  color: #6c6c6c;
}

h1 {
  font-family: 'Libre Barcode 128 Text', cursive;
  color: #6c6c6c;
  padding: 0 2rem;
}

.user-post {
  margin: 2vmin auto;
  border-radius: 10px;
  width: 50rem;
  min-width: 50rem;
  color: black;
  background-color: white;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.user-avatar {
  width: 3rem;
  padding: 0.2rem;
  border-radius: 50px;
}

.post-content {
  min-width: 80%;
}

.user-name {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0.3rem 1rem;
}

.post-text {
  font-weight: 300;
  padding: 0 1.2rem;
  margin: 0 0 0.2rem 0;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 15%;
}

.show-link {
  font-size: 1rem;
  padding: 0 0.5rem;
  text-decoration: none;
}

.drop-down-btn {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.drop-down-td  {
  vertical-align: top;
  align-items: flex-end;
}

.dropdown-btn{
  background: 0;
  border: 0;
  padding: 0;
  z-index: 3;
}

.dropdown {
  visibility: hidden;
  position: absolute;
}
