<%- include('../partials/header') %>

<div id='main-container'>
    <h1>add chirp!</h1>
<form action='/posts/sentiment' method='GET'>
    <textarea name='content'></textarea>
    <button type='submit'>+</button>
</form>

<div>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p><%= errorMessage %></p>
    <% } %>
</div>
</div>

<%- include('../partials/footer') %>