<%- include('../partials/header') %>

<div id='main-container'>
    <h1>add chirp!</h1>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p id='error-msg'><%= errorMessage %></p>
    <% } %>
<form id='new-post-form' action='/posts/sentiment' method='GET'>
    <textarea name='content' autofocus></textarea>
    <button id='add-post-icon' type='submit'>
        <span class="material-symbols-outlined">add</span>
    </button>
</form>
</div>

<%- include('../partials/footer') %>